<div class="container">
  <div class="row">
    <div class="col-6 px-5 mx-auto">
      <%= form_with model: @user do |f| %>
        <h2 class="pt-3">User info</h2>

<!--error-message-->
        <% if @user.errors.any? %>

          <% if @user.errors.count >= 2 %>
            <h2><%=  @user.errors.count %>errors occurred.</h2>
            <ul>
              <%  @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>

          <% else  @user.errors.count == 1 %>
            <h2><%= @user.errors.count %>error occurred.</h2>
            <ul>
              <%  @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

<!--edit-field-->
        <div>
          <label for="user_name">Name</label>
          <p><%= f.text_field :name, id: "user_name", class: "form-control" %></p>
        </div>

        <div>
          <label for="user_image">Image</label>
          <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
        </div>

        <div>
          <label for="user_introduction">Introduction</label>
          <p><%= f.text_area :introduction, id: "user_introduction", class: "form-control" %></p>
        </div>

        <div>
          <p><%= f.submit 'Update User', class: 'btn btn-secondary' %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
