<div class="container">
  <div class="row">
    <div class="col-6 px-5 mx-auto">
      <%= form_with model: @book do |f| %>

        <h1 class="pt-3">Editing Book</h1>

<!--error-message-->
        <%= render 'books/error-message', book: @book %>

<!--edit-field-->
        <div>
          <label for="book_title">Title</label>
          <p><%= f.text_field :title, id: "book_title", class: "form-control" %></p>
        </div>

        <div>
          <label for="book_opinion">Opinion</label>
          <p><%= f.text_area :body, id: "book_opinion", class: "form-control" %></p>
        </div>

        <div>
          <p><%= f.submit 'Update Book', class: "btn btn-success" %></p>
        </div>
      <% end %>

      <div>
        <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
      </div>

    </div>
  </div>
</div>
