<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maxmum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--header-->
    <header>
      <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
      <div class="container">
        <a class="lead text-light text-decoration-none", href='/'>Bookers</a>
        
            <ul class="navbar-nav ml-auto" style="flex-direction: row;">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Home", root_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Users", user_index_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Books", books_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
                </li>
              <% else %>
                  <li class="nav-item pr-3">
                    <%= link_to "Home", root_path, class: 'nav-link text-light' %>
                  </li>
                  <li class="nav-item pr-3">
                    <%= link_to "About", about_path, class: 'nav-link text-light' %>
                  </li>
                  <li class="nav-item pr-3">
                    <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-light' %>
                  </li>
                  <li class="nav-item pr-3">
                    <%= link_to "Log in", user_session_path, class: 'nav-link text-light' %>
                  </li>
              <% end %>
            </ul>
         </div>
      </div>
      </nav>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div class="text-center">
        CopyRight Infratop.inc
      </div>
    </footer>
  </body>
</html>
