<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maxmum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--header-->
    <header>
      <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
        <div class="container">
          <strong>
            <%= link_to "Bookers", root_path, class: 'lead text-light text-decoration-none' %>
          </strong>

            <ul class="navbar-nav ml-auto" style="flex-direction: row;">
              <% if user_signed_in? %>
              
                <li class="nav-item pr-3">
                  <%= link_to root_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-home"></i> Home
                  <% end %>
                </li>
                <li class="nav-item pr-3">
                  <%= link_to users_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-users"></i> Users
                  <% end %>
                </li>
                <li class="nav-item pr-3">
                  <%= link_to books_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-book-open"></i> Books
                  <% end %>
                </li>
                <li class="nav-item pr-3">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
              <% else %>
                  <li class="nav-item pr-3">
                    <%= link_to root_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-home"></i> Home
                    <% end %>
                  </li>
                  <li class="nav-item pr-3">
                    <%= link_to about_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-link"></i> About
                    <% end %>
                  </li>
                  <li class="nav-item pr-3">
                    <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-user-plus"></i> Sign up
                    <% end %>
                  </li>
                  <li class="nav-item pr-3">
                    <%= link_to user_session_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-sign-in-alt"></i> Log in
                    <% end %>
                  </li>
              <% end %>
            </ul>
        </div>
      </nav>
      
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div class="text-center">
        CopyRight Infratop.inc
      </div>
    </footer>
  </body>
</html>
